{% if group.members|length %} <span> {{ metadata.page.index.users }}:</span> {{ group.members }} {% endif %}
{% if group.year|length %} <span>{{ metadata.page.index.year }}:</span> {{ group.year }} {% endif %}
{% if group.games|length %} <span>{{ metadata.page.index.game_series }}:</span> {{ group.games }} {% endif %}