{% set css %}
  {% include "styles.css" %}
{% endset %}

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.website.title }}</title>
    <meta name="description" content="{{ metadata.website.description }}">
  <style>
    {{ css | cssmin | safe }}
  </style>
  </head>
  <body>

    {{ content | safe }}

   {#  <script data-goatcounter="https://vkmod.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>  #}
  </body>
</html>