<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.website.title }}</title>
    <meta name="Description" content="{{ metadata.website.description }}">
    <style>
      body {
          font-family: sans-serif;
          min-width: 320px;
          max-width: 75%;
          line-height: 1.5;
          margin: 5px auto 0;
          font-size: 14px;
      }
      ul {
          list-style-type: none;
      }
      li {
          margin-bottom: 5px;
      }
      a {
          color: #000;
          font-weight: 600;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>{{ metadata.website.title }}</h1>
    </header>
    <section>
    <ul>
        {%- for group in groups.vk.group -%}
        <li>
          <a href="{{ group.link }}" title="{{ group.name }}">{{ group.name }}</a> <br>
          <span>Участники: {{ group.members }}</span> | <span>Год: {{ group.year }}</span> | <span>Игра/Серия: {{ group.games }}</span>
        </li>
        {%- endfor -%}
    </ul>
    </section>
    <script data-goatcounter="https://vkmod.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>